p {
  border: 2px solid #815bc1;
  height: 4rem;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
}

input {
  height: 2rem;
  width: 20%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 38rem;
  width: 60%;
  margin: 0 auto;
  background-color: #dac4ff;
}

#rollBtn {
  width: 8rem;
  height: 3rem;
  background-color: #83df12;
  border: 2px solid #815bc1;
  border-radius: 0.8rem;
  color: rgb(27, 25, 25);
  font-size: 1.25rem;
}
#rollBtn:disabled,
#rollBtn[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.score-rools-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border: 2px solid #815bc1;
}

#diceImg {
  display: none;
  width: 9rem;
  height: 9rem;
}
