@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: #ffffff;
}

p {
  border: 2px solid #815bc1;
  height: 4rem;
  display: flex;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  background-color: #5a445a80;
}

input {
  width: 60%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 38rem;
  width: 60%;
  margin: 0 auto;
  background-color: #dac4ff;
  background: rgb(146, 58, 180);
  background: linear-gradient(
    45deg,
    rgba(146, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(233, 252, 69, 1) 100%
  );
}

#nameSubmit,
#playerInpt {
  height: 3rem;
  border: 2px solid #815bc1;
  color: #1449df;
  background-color: #dac4ff;
  font-size: 1.5rem;
}

.player-inpt {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
}

#nameSubmit {
  width: 20%;
}

#rollBtn {
  width: 8rem;
  height: 3rem;
  background-color: #83df12;
  border: 2px solid #815bc1;
  border-radius: 0.8rem;
  color: rgb(27, 25, 25);
  font-size: 1.25rem;
}
#rollBtn:disabled,
#rollBtn[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}

.score-rools-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

#diceImg {
  display: none;
  width: 9rem;
  height: 9rem;
}
